body {
	font-family: 'Noto Sans';
}

.block {
	background-color: #c6c6c6;
	padding:20px;	
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 24px;
	color: red;
	font-weight: bold;	
}
.head{
	background-color: yellow;
}
.footer {
	background-color: green;
}